In [1]:
import  requests
from bs4 import BeautifulSoup
import  pandas as pd

In [2]:
df1=pd.DataFrame({"이름":["손흥민","호날두","메시"],"나이":[30,35,37],"소속":["한국","포르투갈","아르헨티나"]})
df1

    이름  나이     소속
0  손흥민  30     한국
1  호날두  35   포르투갈
2   메시  37  아르헨티나

In [3]:
df1=pd.DataFrame({"이름":["손흥민","호날두","메시"],"나이":[30,35,37],"소속":["한국","포르투갈","아르헨티나"]},index=[1,2,3])
df1

    이름  나이     소속
1  손흥민  30     한국
2  호날두  35   포르투갈
3   메시  37  아르헨티나

In [4]:
play_list=[["손흥민","호날두","메시"],[30,35,37],["한국","포르투갈","아르헨티나"]]
df2=pd.DataFrame(play_list,columns=['이름','나이','소속'])
df2

    이름    나이     소속
0  손흥민   호날두     메시
1   30    35     37
2   한국  포르투갈  아르헨티나

In [7]:
df=pd.read_csv('./data/transfermarket50.csv')

In [8]:
# 데이터의 {행,렬}
df.shape

(50, 7)

In [9]:
(rows,colums)=df.shape

In [10]:
rows

50

In [11]:
colums

7

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   number    50 non-null     int64
 1   name      50 non-null     object
 2   position  50 non-null     object
 3   age       50 non-null     int64
 4   nation    50 non-null     object
 5   team      50 non-null     object
 6   value     50 non-null     object
dtypes: int64(2), object(5)
memory usage: 2.9+ KB

In [13]:
# defalut는 위에 5게
df.head()

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m
2,3,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,€180.00m
3,4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,€150.00m
4,5,Bukayo Saka,Right Winger,22,England,Arsenal FC,€120.00m

In [14]:
#defalut는 아래 다섯개
df.tail()

,number,name,position,age,nation,team,value
45,46,Trent Alexander-Arnold,Right-Back,25,England,Liverpool FC,€70.00m
46,47,James Maddison,Attacking Midfield,27,England,Tottenham Hotspur,€70.00m
47,48,Marcus Rashford,Left Winger,26,England,Manchester United,€70.00m
48,49,Bruno Fernandes,Attacking Midfield,29,Portugal,Manchester United,€70.00m
49,50,Jack Grealish,Left Winger,28,England,Manchester City,€70.00m

In [15]:
#[] 인덱싱
df[0:5]

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m
2,3,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,€180.00m
3,4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,€150.00m
4,5,Bukayo Saka,Right Winger,22,England,Arsenal FC,€120.00m

In [16]:
#컬럼이름만 가져오기 ['컬럼명']
df['name'].head()

0    Jude Bellingham
1     Erling Haaland
2      Kylian Mbappé
3    Vinicius Junior
4        Bukayo Saka
Name: name, dtype: object

In [17]:
#여러개의 컬럼을 보기 위해서는 컬럼명을 리스트로 삽입
names=['name','number','nation']
df[names].head()

              name  number   nation
0  Jude Bellingham       1  England
1   Erling Haaland       2   Norway
2    Kylian Mbappé       3   France
3  Vinicius Junior       4   Brazil
4      Bukayo Saka       5  England

In [18]:
df[15:21]

,number,name,position,age,nation,team,value
15,16,Moisés Caicedo,Defensive Midfield,22,Ecuador,Chelsea FC,€90.00m
16,17,Pedri,Central Midfield,21,Spain,FC Barcelona,€90.00m
17,18,Gavi,Central Midfield,19,Spain,FC Barcelona,€90.00m
18,19,Eduardo Camavinga,Central Midfield,21,France,Real Madrid,€90.00m
19,20,Julián Álvarez,Second Striker,24,Argentina,Manchester City,€90.00m
20,21,Aurélien Tchouaméni,Defensive Midfield,24,France,Real Madrid,€90.00m

In [19]:
# iloc
df.iloc[0:2]
# df[0:2]와 같다

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m

In [20]:
#마지막 숫자도 포함
df.loc[0:2]

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m
2,3,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,€180.00m

In [21]:
#쉼표 기준으로 행과 열 표시 df.loc[행이름,열이름]
df.loc[0,'name']

'Jude Bellingham'

In [24]:
df.loc[0:5,names+['value']]

              name  number   nation     value
0  Jude Bellingham       1  England  €180.00m
1   Erling Haaland       2   Norway  €180.00m
2    Kylian Mbappé       3   France  €180.00m
3  Vinicius Junior       4   Brazil  €150.00m
4      Bukayo Saka       5  England  €120.00m
5    Jamal Musiala       6  Germany  €110.00m

In [26]:
age20isUnder=df['age']<=20
df[age20isUnder]

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
12,13,Florian Wirtz,Attacking Midfield,20,Germany,Bayer 04 Leverkusen,€100.00m
17,18,Gavi,Central Midfield,19,Spain,FC Barcelona,€90.00m
38,39,Xavi Simons,Attacking Midfield,20,Netherlands,RB Leipzig,€70.00m

In [27]:
df[df['team']=='Real Madrid']

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
3,4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,€150.00m
13,14,Rodrygo,Right Winger,23,Brazil,Real Madrid,€100.00m
14,15,Federico Valverde,Central Midfield,25,Uruguay,Real Madrid,€100.00m
18,19,Eduardo Camavinga,Central Midfield,21,France,Real Madrid,€90.00m
20,21,Aurélien Tchouaméni,Defensive Midfield,24,France,Real Madrid,€90.00m
42,43,Éder Militão,Centre-Back,26,Brazil,Real Madrid,€70.00m

In [29]:
age30IsUnder=df['age']>=30
df.loc[age30IsUnder,['name','value']]

          name     value
11  Harry Kane  €110.00m