In [1]:
import  requests
from bs4 import BeautifulSoup
import  pandas as pd

In [2]:
df1=pd.DataFrame({"이름":["손흥민","호날두","메시"],"나이":[30,35,37],"소속":["한국","포르투갈","아르헨티나"]})
df1

    이름  나이     소속
0  손흥민  30     한국
1  호날두  35   포르투갈
2   메시  37  아르헨티나

In [3]:
df1=pd.DataFrame({"이름":["손흥민","호날두","메시"],"나이":[30,35,37],"소속":["한국","포르투갈","아르헨티나"]},index=[1,2,3])
df1

    이름  나이     소속
1  손흥민  30     한국
2  호날두  35   포르투갈
3   메시  37  아르헨티나

In [4]:
play_list=[["손흥민","호날두","메시"],[30,35,37],["한국","포르투갈","아르헨티나"]]
df2=pd.DataFrame(play_list,columns=['이름','나이','소속'])
df2

    이름    나이     소속
0  손흥민   호날두     메시
1   30    35     37
2   한국  포르투갈  아르헨티나

In [5]:
df=pd.read_csv('./data/transfermarket50.csv')

In [6]:
# 데이터의 {행,렬}
df.shape

(50, 7)

In [7]:
(rows,colums)=df.shape

In [8]:
rows

50

In [9]:
colums

7

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   number    50 non-null     int64
 1   name      50 non-null     object
 2   position  50 non-null     object
 3   age       50 non-null     int64
 4   nation    50 non-null     object
 5   team      50 non-null     object
 6   value     50 non-null     object
dtypes: int64(2), object(5)
memory usage: 2.9+ KB

In [11]:
# defalut는 위에 5게
df.head()

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m
2,3,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,€180.00m
3,4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,€150.00m
4,5,Bukayo Saka,Right Winger,22,England,Arsenal FC,€120.00m

In [12]:
#defalut는 아래 다섯개
df.tail()

,number,name,position,age,nation,team,value
45,46,Trent Alexander-Arnold,Right-Back,25,England,Liverpool FC,€70.00m
46,47,James Maddison,Attacking Midfield,27,England,Tottenham Hotspur,€70.00m
47,48,Marcus Rashford,Left Winger,26,England,Manchester United,€70.00m
48,49,Bruno Fernandes,Attacking Midfield,29,Portugal,Manchester United,€70.00m
49,50,Jack Grealish,Left Winger,28,England,Manchester City,€70.00m

In [13]:
#[] 인덱싱
df[0:5]

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m
2,3,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,€180.00m
3,4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,€150.00m
4,5,Bukayo Saka,Right Winger,22,England,Arsenal FC,€120.00m

In [14]:
#컬럼이름만 가져오기 ['컬럼명']
df['name'].head()

0    Jude Bellingham
1     Erling Haaland
2      Kylian Mbappé
3    Vinicius Junior
4        Bukayo Saka
Name: name, dtype: object

In [15]:
#여러개의 컬럼을 보기 위해서는 컬럼명을 리스트로 삽입
names=['name','number','nation']
df[names].head()

              name  number   nation
0  Jude Bellingham       1  England
1   Erling Haaland       2   Norway
2    Kylian Mbappé       3   France
3  Vinicius Junior       4   Brazil
4      Bukayo Saka       5  England

In [16]:
df[15:21]

,number,name,position,age,nation,team,value
15,16,Moisés Caicedo,Defensive Midfield,22,Ecuador,Chelsea FC,€90.00m
16,17,Pedri,Central Midfield,21,Spain,FC Barcelona,€90.00m
17,18,Gavi,Central Midfield,19,Spain,FC Barcelona,€90.00m
18,19,Eduardo Camavinga,Central Midfield,21,France,Real Madrid,€90.00m
19,20,Julián Álvarez,Second Striker,24,Argentina,Manchester City,€90.00m
20,21,Aurélien Tchouaméni,Defensive Midfield,24,France,Real Madrid,€90.00m

In [17]:
# iloc
df.iloc[0:2]
# df[0:2]와 같다

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m

In [18]:
#마지막 숫자도 포함
df.loc[0:2]

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m
2,3,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,€180.00m

In [19]:
#쉼표 기준으로 행과 열 표시 df.loc[행이름,열이름]
df.loc[0,'name']

'Jude Bellingham'

In [20]:
df.loc[0:5,names+['value']]

              name  number   nation     value
0  Jude Bellingham       1  England  €180.00m
1   Erling Haaland       2   Norway  €180.00m
2    Kylian Mbappé       3   France  €180.00m
3  Vinicius Junior       4   Brazil  €150.00m
4      Bukayo Saka       5  England  €120.00m
5    Jamal Musiala       6  Germany  €110.00m

In [21]:
age20isUnder=df['age']<=20
df[age20isUnder]

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
12,13,Florian Wirtz,Attacking Midfield,20,Germany,Bayer 04 Leverkusen,€100.00m
17,18,Gavi,Central Midfield,19,Spain,FC Barcelona,€90.00m
38,39,Xavi Simons,Attacking Midfield,20,Netherlands,RB Leipzig,€70.00m

In [22]:
df[df['team']=='Real Madrid']

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
3,4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,€150.00m
13,14,Rodrygo,Right Winger,23,Brazil,Real Madrid,€100.00m
14,15,Federico Valverde,Central Midfield,25,Uruguay,Real Madrid,€100.00m
18,19,Eduardo Camavinga,Central Midfield,21,France,Real Madrid,€90.00m
20,21,Aurélien Tchouaméni,Defensive Midfield,24,France,Real Madrid,€90.00m
42,43,Éder Militão,Centre-Back,26,Brazil,Real Madrid,€70.00m

In [23]:
age30IsUnder=df['age']>=30
df.loc[age30IsUnder,['name','value']]

          name     value
11  Harry Kane  €110.00m

# DateFrame 정렬하기와 컬럼 바꾸기

In [25]:
df.head()
# 인덱스 순으로 정렬
df.sort_index().head()

,number,name,position,age,nation,team,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m
2,3,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,€180.00m
3,4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,€150.00m
4,5,Bukayo Saka,Right Winger,22,England,Arsenal FC,€120.00m

In [26]:
# 내림차순으로 정렬
df.sort_index(ascending=False)[:5]

,number,name,position,age,nation,team,value
49,50,Jack Grealish,Left Winger,28,England,Manchester City,€70.00m
48,49,Bruno Fernandes,Attacking Midfield,29,Portugal,Manchester United,€70.00m
47,48,Marcus Rashford,Left Winger,26,England,Manchester United,€70.00m
46,47,James Maddison,Attacking Midfield,27,England,Tottenham Hotspur,€70.00m
45,46,Trent Alexander-Arnold,Right-Back,25,England,Liverpool FC,€70.00m

In [28]:
df.sort_values("age",ascending=False).head()

,number,name,position,age,nation,team,value
11,12,Harry Kane,Centre-Forward,30,England,Bayern Munich,€110.00m
30,31,Bernardo Silva,Attacking Midfield,29,Portugal,Manchester City,€80.00m
48,49,Bruno Fernandes,Attacking Midfield,29,Portugal,Manchester United,€70.00m
37,38,Joshua Kimmich,Defensive Midfield,29,Germany,Bayern Munich,€75.00m
49,50,Jack Grealish,Left Winger,28,England,Manchester City,€70.00m

In [30]:
# 인덱스를 컬럼명으로 바꾸기
df.set_index('number')

,name,position,age,nation,team,value
number,,,,,,
1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m
3,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,€180.00m
4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,€150.00m
5,Bukayo Saka,Right Winger,22,England,Arsenal FC,€120.00m
6,Jamal Musiala,Attacking Midfield,21,Germany,Bayern Munich,€110.00m
7,Phil Foden,Right Winger,23,England,Manchester City,€110.00m
8,Lautaro Martínez,Centre-Forward,26,Argentina,Inter Milan,€110.00m
9,Victor Osimhen,Centre-Forward,25,Nigeria,SSC Napoli,€110.00m
10,Declan Rice,Defensive Midfield,25,England,Arsenal FC,€110.00m
11,Rodri,Defensive Midfield,27,Spain,Manchester City,€110.00m
12,Harry Kane,Centre-Forward,30,England,Bayern Munich,€110.00m
13,Florian Wirtz,Attacking Midfield,20,Germany,Bayer 04 Leverkusen,€100.00m
14,Rodrygo,Right Winger,23,Brazil,Real Madrid,€100.00m
15,Federico Valverde,Central Midfield,25,Uruguay,Real Madrid,€100.00m
16,Moisés Caicedo,Defensive Midfield,22,Ecuador,Chelsea FC,€90.00m
17,Pedri,Central Midfield,21,Spain,FC Barcelona,€90.00m
18,Gavi,Central Midfield,19,Spain,FC Barcelona,€90.00m
19,Eduardo Camavinga,Central Midfield,21,France,Real Madrid,€90.00m
20,Julián Álvarez,Second Striker,24,Argentina,Manchester City,€90.00m
21,Aurélien Tchouaméni,Defensive Midfield,24,France,Real Madrid,€90.00m
22,Rafael Leão,Left Winger,24,Portugal,AC Milan,€90.00m
23,Martin Ødegaard,Attacking Midfield,25,Norway,Arsenal FC,€90.00m
24,Gabriel Martinelli,Left Winger,22,Brazil,Arsenal FC,€85.00m
25,Bruno Guimarães,Defensive Midfield,26,Brazil,Newcastle United,€85.00m
26,Enzo Fernández,Central Midfield,23,Argentina,Chelsea FC,€80.00m
27,Khvicha Kvaratskhelia,Left Winger,23,Georgia,SSC Napoli,€80.00m
28,Josko Gvardiol,Centre-Back,22,Croatia,Manchester City,€80.00m
29,Frenkie de Jong,Central Midfield,26,Netherlands,FC Barcelona,€80.00m
30,Rúben Dias,Centre-Back,26,Portugal,Manchester City,€80.00m
31,Bernardo Silva,Attacking Midfield,29,Portugal,Manchester City,€80.00m
32,Leroy Sané,Right Winger,28,Germany,Bayern Munich,€80.00m
33,William Saliba,Centre-Back,22,France,Arsenal FC,€75.00m
34,Luis Díaz,Left Winger,27,Colombia,Liverpool FC,€75.00m
35,Dominik Szoboszlai,Central Midfield,23,Hungary,Liverpool FC,€75.00m
36,Christopher Nkunku,Attacking Midfield,26,France,Chelsea FC,€75.00m
37,Nicolò Barella,Central Midfield,27,Italy,Inter Milan,€75.00m
38,Joshua Kimmich,Defensive Midfield,29,Germany,Bayern Munich,€75.00m
39,Xavi Simons,Attacking Midfield,20,Netherlands,RB Leipzig,€70.00m
40,Randal Kolo Muani,Centre-Forward,25,France,Paris Saint-Germain,€70.00m
41,Ronald Araujo,Centre-Back,25,Uruguay,FC Barcelona,€70.00m
42,Alphonso Davies,Left-Back,23,Canada,Bayern Munich,€70.00m
43,Éder Militão,Centre-Back,26,Brazil,Real Madrid,€70.00m
44,Gabriel Jesus,Centre-Forward,26,Brazil,Arsenal FC,€70.00m
45,Alexander Isak,Centre-Forward,24,Sweden,Newcastle United,€70.00m
46,Trent Alexander-Arnold,Right-Back,25,England,Liverpool FC,€70.00m
47,James Maddison,Attacking Midfield,27,England,Tottenham Hotspur,€70.00m
48,Marcus Rashford,Left Winger,26,England,Manchester United,€70.00m
49,Bruno Fernandes,Attacking Midfield,29,Portugal,Manchester United,€70.00m
50,Jack Grealish,Left Winger,28,England,Manchester City,€70.00m

In [33]:
df.rename(columns={'team':'club'},inplace=True)

In [34]:
df.head()

,number,name,position,age,nation,club,value
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,€180.00m
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,€180.00m
2,3,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,€180.00m
3,4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,€150.00m
4,5,Bukayo Saka,Right Winger,22,England,Arsenal FC,€120.00m

In [37]:
df['value']=df['value'].str.replace('€','')
df['value']=df['value'].str.replace('m','').astype(float)
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   number    50 non-null     int64
 1   name      50 non-null     object
 2   position  50 non-null     object
 3   age       50 non-null     int64
 4   nation    50 non-null     object
 5   club      50 non-null     object
 6   value     50 non-null     float64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

In [38]:
df['시장가치(억)']=df['value']*13
df.head()

,number,name,position,age,nation,club,value,시장가치(억)
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,180.0,2340.0
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,180.0,2340.0
2,3,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,180.0,2340.0
3,4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,150.0,1950.0
4,5,Bukayo Saka,Right Winger,22,England,Arsenal FC,120.0,1560.0

In [39]:
df.drop(columns=['value'],inplace=True)
df.head()

,number,name,position,age,nation,club,시장가치(억)
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,2340.0
1,2,Erling Haaland,Centre-Forward,23,Norway,Manchester City,2340.0
2,3,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,2340.0
3,4,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,1950.0
4,5,Bukayo Saka,Right Winger,22,England,Arsenal FC,1560.0

# DataFrame 통계분석과 groupby

In [40]:
# 숫자형 데이터의 통계
df.describe()

         number        age      시장가치(억)
count  50.00000  50.000000    50.000000
mean   25.50000  24.420000  1201.200000
std    14.57738   2.627096   364.454527
min     1.00000  19.000000   910.000000
25%    13.25000  23.000000   975.000000
50%    25.50000  25.000000  1072.500000
75%    37.75000  26.000000  1300.000000
max    50.00000  30.000000  2340.000000

In [41]:
# 컬럼의 평균
df['age'].mean()

24.42

In [42]:
# 합계 구하기
df['시장가치(억)'].sum()

60060.0

In [43]:
# 최빈값 ex) 선수들이 속한 가장 많은 나라?
df['nation'].mode()

0    England
Name: nation, dtype: object

In [44]:
# 국적이 England 인 선수들은?
df[df['nation']=='England']

,number,name,position,age,nation,club,시장가치(억)
0,1,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,2340.0
4,5,Bukayo Saka,Right Winger,22,England,Arsenal FC,1560.0
6,7,Phil Foden,Right Winger,23,England,Manchester City,1430.0
9,10,Declan Rice,Defensive Midfield,25,England,Arsenal FC,1430.0
11,12,Harry Kane,Centre-Forward,30,England,Bayern Munich,1430.0
45,46,Trent Alexander-Arnold,Right-Back,25,England,Liverpool FC,910.0
46,47,James Maddison,Attacking Midfield,27,England,Tottenham Hotspur,910.0
47,48,Marcus Rashford,Left Winger,26,England,Manchester United,910.0
49,50,Jack Grealish,Left Winger,28,England,Manchester City,910.0

In [46]:
# 데이터를 그룹으로 묶어 분석
df.groupby('nation')

In [47]:
g=df.groupby('nation')
g.size()

nation
Argentina      3
Brazil         6
Canada         1
Colombia       1
Croatia        1
Ecuador        1
England        9
France         6
Georgia        1
Germany        4
Hungary        1
Italy          1
Netherlands    2
Nigeria        1
Norway         2
Portugal       4
Spain          3
Sweden         1
Uruguay        2
dtype: int64

In [48]:
g.count()

             number  name  position  age  club  시장가치(억)
nation
Argentina         3     3         3    3     3        3
Brazil            6     6         6    6     6        6
Canada            1     1         1    1     1        1
Colombia          1     1         1    1     1        1
Croatia           1     1         1    1     1        1
Ecuador           1     1         1    1     1        1
England           9     9         9    9     9        9
France            6     6         6    6     6        6
Georgia           1     1         1    1     1        1
Germany           4     4         4    4     4        4
Hungary           1     1         1    1     1        1
Italy             1     1         1    1     1        1
Netherlands       2     2         2    2     2        2
Nigeria           1     1         1    1     1        1
Norway            2     2         2    2     2        2
Portugal          4     4         4    4     4        4
Spain             3     3         3    3     3        3
Sweden            1     1         1    1     1        1
Uruguay           2     2         2    2     2        2

In [49]:
g.sum()

,number,name,position,age,club,시장가치(억)
nation,,,,,,
Argentina,54,Lautaro MartínezJulián ÁlvarezEnzo Fernández,Centre-ForwardSecond StrikerCentral Midfield,73,Inter MilanManchester CityChelsea FC,3640.0
Brazil,154,Vinicius JuniorRodrygoGabriel MartinelliBruno ...,Left WingerRight WingerLeft WingerDefensive Mi...,146,Real MadridReal MadridArsenal FCNewcastle Unit...,7280.0
Canada,42,Alphonso Davies,Left-Back,23,Bayern Munich,910.0
Colombia,34,Luis Díaz,Left Winger,27,Liverpool FC,975.0
Croatia,28,Josko Gvardiol,Centre-Back,22,Manchester City,1040.0
Ecuador,16,Moisés Caicedo,Defensive Midfield,22,Chelsea FC,1170.0
England,226,Jude BellinghamBukayo SakaPhil FodenDeclan Ric...,Attacking MidfieldRight WingerRight WingerDefe...,226,Real MadridArsenal FCManchester CityArsenal FC...,11830.0
France,152,Kylian MbappéEduardo CamavingaAurélien Tchouam...,Centre-ForwardCentral MidfieldDefensive Midfie...,143,Paris Saint-GermainReal MadridReal MadridArsen...,7540.0
Georgia,27,Khvicha Kvaratskhelia,Left Winger,23,SSC Napoli,1040.0
Germany,89,Jamal MusialaFlorian WirtzLeroy SanéJoshua Kim...,Attacking MidfieldAttacking MidfieldRight Wing...,98,Bayern MunichBayer 04 LeverkusenBayern MunichB...,4745.0
Hungary,35,Dominik Szoboszlai,Central Midfield,23,Liverpool FC,975.0
Italy,37,Nicolò Barella,Central Midfield,27,Inter Milan,975.0
Netherlands,68,Frenkie de JongXavi Simons,Central MidfieldAttacking Midfield,46,FC BarcelonaRB Leipzig,1950.0
Nigeria,9,Victor Osimhen,Centre-Forward,25,SSC Napoli,1430.0
Norway,25,Erling HaalandMartin Ødegaard,Centre-ForwardAttacking Midfield,48,Manchester CityArsenal FC,3510.0
Portugal,132,Rafael LeãoRúben DiasBernardo SilvaBruno Ferna...,Left WingerCentre-BackAttacking MidfieldAttack...,108,AC MilanManchester CityManchester CityManchest...,4160.0
Spain,46,RodriPedriGavi,Defensive MidfieldCentral MidfieldCentral Midf...,67,Manchester CityFC BarcelonaFC Barcelona,3770.0
Sweden,45,Alexander Isak,Centre-Forward,24,Newcastle United,910.0
Uruguay,56,Federico ValverdeRonald Araujo,Central MidfieldCentre-Back,50,Real MadridFC Barcelona,2210.0

In [50]:
g['시장가치(억)'].sum()

nation
Argentina       3640.0
Brazil          7280.0
Canada           910.0
Colombia         975.0
Croatia         1040.0
Ecuador         1170.0
England        11830.0
France          7540.0
Georgia         1040.0
Germany         4745.0
Hungary          975.0
Italy            975.0
Netherlands     1950.0
Nigeria         1430.0
Norway          3510.0
Portugal        4160.0
Spain           3770.0
Sweden           910.0
Uruguay         2210.0
Name: 시장가치(억), dtype: float64

In [53]:
cl=df.groupby('club')
cl.sum()
cl['시장가치(억)'].sum().sort_values(ascending=False)

club
Manchester City        10400.0
Real Madrid            10140.0
Arsenal FC              7150.0
Bayern Munich           5785.0
FC Barcelona            4290.0
Paris Saint-Germain     3250.0
Chelsea FC              3185.0
Liverpool FC            2860.0
SSC Napoli              2470.0
Inter Milan             2405.0
Newcastle United        2015.0
Manchester United       1820.0
Bayer 04 Leverkusen     1300.0
AC Milan                1170.0
RB Leipzig               910.0
Tottenham Hotspur        910.0
Name: 시장가치(억), dtype: float64